<h3>{{'MATERIALS' | translate}}</h3>

<button class="btn btn-success" routerLink="/material/add">{{ 'ADD_MATERIAL' | translate }}</button>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">{{'NAME' | translate}}</th>
    <th scope="col">{{'FORMAT' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr style="cursor: pointer" *ngFor="let m of materials$ | async">
    <th scope="row">{{m.id}}</th>
    <td>{{m.name}}</td>
    <td>{{m.format}}</td>
  </tr>
  </tbody>
</table>
